body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

.container_app {
  min-height: 100vh;
}

.left_bar {
  min-height: 100vh;
  background-color: grey;
  padding-top: 10%;
  text-align: center;
}

.logo_left_bar {
  width: 90%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.application-logo {
  font-size: 2em;
  color: white;
  text-align: center;
}
